
.CodeCC { background-image: url('CodeCC.png'); background-color: transparent; background-repeat: no-repeat; display: inline-block;}
.CodeCC-A { width: 40px; height: 40px; background-position: 0px 0px; }
.CodeCC-B { width: 40px; height: 40px; background-position: -41px 0px; }
.CodeCC-C { width: 40px; height: 40px; background-position: -82px 0px; }
.CodeCC-D { width: 40px; height: 40px; background-position: -123px 0px; }
.CodeCC-E { width: 40px; height: 40px; background-position: -164px 0px; }
.CodeCC-F { width: 40px; height: 40px; background-position: -205px 0px; }
.CodeCC-G { width: 40px; height: 40px; background-position: -246px 0px; }
.CodeCC-H { width: 40px; height: 40px; background-position: -287px 0px; }
.CodeCC-I { width: 40px; height: 40px; background-position: -328px 0px; }
.CodeCC-J { width: 40px; height: 40px; background-position: -369px 0px; }
.CodeCC-K { width: 40px; height: 40px; background-position: -410px 0px; }
.CodeCC-L { width: 40px; height: 40px; background-position: -451px 0px; }
.CodeCC-M { width: 40px; height: 40px; background-position: -492px 0px; }
.CodeCC-N { width: 40px; height: 40px; background-position: -533px 0px; }
.CodeCC-O { width: 40px; height: 40px; background-position: -574px 0px; }
.CodeCC-P { width: 40px; height: 40px; background-position: -615px 0px; }
.CodeCC-Q { width: 40px; height: 40px; background-position: -656px 0px; }
.CodeCC-R { width: 40px; height: 40px; background-position: -697px 0px; }
.CodeCC-S { width: 40px; height: 40px; background-position: -738px 0px; }
.CodeCC-T { width: 40px; height: 40px; background-position: -779px 0px; }
.CodeCC-U { width: 40px; height: 40px; background-position: -820px 0px; }
.CodeCC-V { width: 40px; height: 40px; background-position: -861px 0px; }
.CodeCC-W { width: 40px; height: 40px; background-position: -902px 0px; }
.CodeCC-X { width: 40px; height: 40px; background-position: -943px 0px; }
.CodeCC-Y { width: 40px; height: 40px; background-position: -984px 0px; }
.CodeCC-Z { width: 40px; height: 40px; background-position: -1025px 0px; }