/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/*
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}*/
/* HTML5 display-role reset for older browsers */
/*article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*/
/***********/
body{
	-webkit-print-color-adjust:exact;
}

.scoutcifras{ 
	font-family:Arial, Helvetica, sans-serif; 
	font-size: 16px; 
    font-weight: bolder;	
	vertical-align:top;
}

.scoutcifras-button { 
	vertical-align:top;
	background:#AD2121;
	background:-moz-linear-gradient(top,#AD2121 0%,#AD2121 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#AD2121),color-stop(100%,#AD2121));
	background:-webkit-linear-gradient(top,#AD2121 0%,#AD2121 100%);
	background:-o-linear-gradient(top,#AD2121 0%,#AD2121 100%);
	background:-ms-linear-gradient(top,#AD2121 0%,#AD2121 100%);
	background:linear-gradient(top,#AD2121 0%,#AD2121 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#AD2121',endColorstr='#AD2121',GradientType=0);

	color:#fff;
}

.scoutcifras-cipheredtext {  min-height:104px;display: inline-block;}

.scoutcifras-label{ 
	
	display: inline-block;
	width:120px;
	vertical-align:top;
	color:#AD2121;
}

.scoutcifras-password{ 
	display: inline;
}

.scoutcifras-passwordtype{
    border: 1px solid;
 	color: #D8000C;
    background-color: #FFBABA;
	height:30px;
}

.scoutcifras-select{
   overflow: hidden;   
}

.scoutcifras-text{
	height:26px;
}

.scoutcifras-cipheredtext ,
.scoutcifras-textarea{
	width: 400px;
}
	
.scoutcifras-button ,
.scoutcifras-textarea ,
.scoutcifras-select,
.scoutcifras-cipheredtext ,
.scoutcifras-text
{
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border:1px solid #AD2121;
}
