
<p>
	<strong>BRAILLE FALSO</strong>
</p>
<p>O Código Braille Falso é feito do seguinte modo: distribuem-se as letras do alfabeto por 3 quadrados, cada um dos quais com nove letras, em 3 linhas e 3 colunas. Esta distribuição é necessária tanto para codificar como para descodificar mensagens. Cada letra é representada por um conjunto de pontos, em 3 linhas. </p>
<table border="0" width="80%">
	<tr>
		<td>
			<table border="1" cellpadding="3" cellspacing="0" bordercolor="#C0C0C0">
				<tr>
					<th>A</th>
					<th>B</th>
					<th>C</th>
				</tr>
				<tr>
					<th>D</th>
					<th>E</th>
					<th>F</th>
				</tr>
				<tr>
					<th>G</th>
					<th>H</th>
					<th>I</th>
				</tr>
			</table>
		</td>
		<td>
			<table border="1" cellpadding="3" cellspacing="0" bordercolor="#C0C0C0">
				<tr>
					<th>J</th>
					<th>K</th>
					<th>L</th>
				</tr>
				<tr>
					<th>M</th>
					<th>N</th>
					<th>O</th>
				</tr>
				<tr>
					<th>P</th>
					<th>Q</th>
					<th>R</th>
				</tr>						
			</table>
		</td>
		<td>
			<table border="1" cellpadding="3" cellspacing="0" bordercolor="#C0C0C0">
				<tr>
					<th>S</th>
					<th>T</th>
					<th>U</th>
				</tr>
				<tr>
					<th>V</th>
					<th>W</th>
					<th>X</th>
				</tr>
				<tr>
					<th>Y</th>
					<th>Z</th>
					<th>&nbsp;</th>
				</tr>						
			</table>
		</td>
	</tr>
</table>
<p>Na 1ª linha o número de pontos corresponde ao nº do quadrado onde está a letra, na 2ª linha corresponde ao nº da linha onde está a letra nesse quadrado e na 3ª ao nº da coluna.</p>
<div>
	<table border="0" width="80%">
		<tr>
			<td>
				<img src="cod01a.gif" width="140" height="62">
			</td>
			<td>
				<img src="cod01b.gif" width="100" height="66">
			</td>
		</tr>
	</table>
</div>
