<p><strong>ALFABETO TRANSPOSTO</strong></p>
<p>Por baixo do alfabeto nomal, escreve-se mesmo alfabeto, mas começando na letra chave do código que, neste exemplo, é a <strong>letra V ( então A = V )</strong>. As letras de baixo são a codificação das de cima.</p>
<table border="1" cellpadding="3" cellspacing="0" width="80%" bordercolor="#C0C0C0">
    <tr>
        <th>A</th>
        <th>B</th>
        <th>C</th>
        <th>D</th>
        <th>E</th>
        <th>F</th>
        <th>G</th>
        <th>H</th>
        <th>I</th>
        <th>J</th>
        <th>K</th>
        <th>L</th>
        <th>M</th>
        <th>N</th>
        <th>O</th>
        <th>P</th>
        <th>Q</th>
        <th>R</th>
        <th>S</th>
        <th>T</th>
        <th>U</th>
        <th>V</th>
        <th>W</th>
        <th>X</th>
        <th>Y</th>
        <th>Z</th>
    </tr>
    <tr>
        <td>V</td>
        <td>W</td>
        <td>X</td>
        <td>Y</td>
        <td>Z</td>
        <td>A</td>
        <td>B</td>
        <td>C</td>
        <td>D</td>
        <td>E</td>
        <td>F</td>
        <td>G</td>
        <td>H</td>
        <td>I</td>
        <td>J</td>
        <td>K</td>
        <td>L</td>
        <td>M</td>
        <td>N</td>
        <td>O</td>
        <td>P</td>
        <td>Q</td>
        <td>R</td>
        <td>S</td>
        <td>T</td>
        <td>U</td>
    </tr>
</table>

<p align="center">
    <strong><u>Exemplo</u>: ESCUTEIRO</strong> = ZNXPOZDMJ
</p>