<blockquote>
    <p>
        <font color="#000000" size="2" face="Verdana"><strong>CÓDIGO
    CHINÊS - 1</strong></font>
    </p>
    <p align="left">
        <font color="#000000" size="2" face="Verdana">Esta cifra é escrita apenas com traços horizontais e verticais. A
            <u>cada traço vertical corresponde uma vogal</u>.</font>
    </p>
    <div align="center">
        <center>
            <table border="1" cellpadding="3" cellspacing="0" width="30%" bordercolor="#C0C0C0">
                <tr>
                    <td align="center" width="15%" bgcolor="#E1E1E1">
                        <font size="2" face="Verdana"><strong>A</strong></font>
                    </td>
                    <td align="center" width="15%" bgcolor="#E1E1E1">
                        <font size="2" face="Verdana"><strong>E</strong></font>
                    </td>
                    <td align="center" width="15%" bgcolor="#E1E1E1">
                        <font size="2" face="Verdana"><strong>I</strong></font>
                    </td>
                    <td align="center" width="15%" bgcolor="#E1E1E1">
                        <font size="2" face="Verdana"><strong>O</strong></font>
                    </td>
                    <td align="center" width="15%" bgcolor="#E1E1E1">
                        <font size="2" face="Verdana"><strong>U</strong></font>
                    </td>
                </tr>
                <tr>
                    <td align="center" width="15%" bgcolor="#FFFFFF">
                        <font size="2" face="Verdana">I</font>
                    </td>
                    <td align="center" width="15%" bgcolor="#FFFFFF">
                        <font size="2" face="Verdana">II</font>
                    </td>
                    <td align="center" width="15%" bgcolor="#FFFFFF">
                        <font size="2" face="Verdana">III</font>
                    </td>
                    <td align="center" width="15%" bgcolor="#FFFFFF">
                        <font size="2" face="Verdana">IIII</font>
                    </td>
                    <td align="center" width="15%" bgcolor="#FFFFFF">
                        <font size="2" face="Verdana">IIIII</font>
                    </td>
                </tr>
            </table>
        </center>
    </div>
    <p align="left">
        <font color="#000000" size="2" face="Verdana">As consoantes são indicadas por traços horizontais sobrepostos aos verticais. Para escrever uma consoante, começa-se
            pela vogal imediatamente anterior (no alfabeto) e, por cima dos traços verticais dessa vogal, colocam-se tantos
            traços horizontais quanto o número de letras entre a vogal e a consoante.</font>
    </p>
    <p align="left">
        <font color="#000000" size="2" face="Verdana">Por exemplo, para a letra P, começamos pela vogal anterior que é o O (IIII). Ora, como entre o P e o O a distância
            é de uma letra, apenas colocamos um traço horizontal sobre os 4 traços verticais da letra O. Assim temos que:</font>
    </p>
    <p align="center">
        <font color="#000000" size="2" face="Verdana"><img src="cod18a.gif" width="66" height="20"></font>
    </p>
    <p align="center">
        <font size="2" face="Verdana"><strong><u>Exemplo</u></strong><strong>:
    ESCUTA</strong></font>
    </p>
    <p align="center">
        <font size="2" face="Verdana"><img src="cod18b.gif" width="184" height="66"></font>
    </p>
    <p align="center">
        <font size="2" face="Verdana">ESCUTA = <img src="cod18c.gif" width="170" height="22"></font>
    </p>
</blockquote>