<blockquote>
    <p>
        <font size="2" face="Verdana"><strong>CÓDIGO DATA</strong></font>
    </p>
    <p>
        <font color="#000000" size="2" face="Verdana">O código Data é feito com uma tabela em que na coluna mais à esquerda se coloca uma data (a <strong>data chave do código</strong>,
            que neste exemplo é <strong>1984</strong>). Cada letra é composta de dois algarismos: o 1º corresponde à linha
            e o 2º à coluna. A mensagem codificada é escrita com os algarismo todos juntos.</font>
    </p>
</blockquote>
<div align="center">
    <center>

        <table border="1" cellpadding="3" cellspacing="0" width="70%" bordercolor="#C0C0C0">
            <tbody>
                <tr>
                    <td align="center" bgcolor="#E1E1E1">&nbsp;</td>
                    <td align="center" bgcolor="#E1E1E1">
                        <font size="2" face="Verdana"><strong>1</strong></font>
                    </td>
                    <td align="center" bgcolor="#E1E1E1">
                        <font size="2" face="Verdana"><strong>2</strong></font>
                    </td>
                    <td align="center" bgcolor="#E1E1E1">
                        <font size="2" face="Verdana"><strong>3</strong></font>
                    </td>
                    <td align="center" bgcolor="#E1E1E1">
                        <font size="2" face="Verdana"><strong>4</strong></font>
                    </td>
                    <td align="center" bgcolor="#E1E1E1">
                        <font size="2" face="Verdana"><strong>5</strong></font>
                    </td>
                    <td align="center" bgcolor="#E1E1E1">
                        <font size="2" face="Verdana"><strong>6</strong></font>
                    </td>
                    <td align="center" bgcolor="#E1E1E1">
                        <font size="2" face="Verdana"><strong>7</strong></font>
                    </td>
                    <td align="center" bgcolor="#E1E1E1">
                        <font size="2" face="Verdana"><strong>8</strong></font>
                    </td>
                    <td align="center" bgcolor="#E1E1E1">
                        <font size="2" face="Verdana"><strong>9</strong></font>
                    </td>
                    <td align="center" bgcolor="#E1E1E1">
                        <font size="2" face="Verdana"><strong>0</strong></font>
                    </td>
                </tr>
                <tr>
                    <td align="center" bgcolor="#E1E1E1">
                        <font size="2" face="Verdana"><strong>1</strong></font>
                    </td>
                    <td align="center">
                        <font size="2" face="Verdana">A</font>
                    </td>
                    <td align="center">
                        <font size="2" face="Verdana">B</font>
                    </td>
                    <td align="center">
                        <font size="2" face="Verdana">C</font>
                    </td>
                    <td align="center">
                        <font size="2" face="Verdana">D</font>
                    </td>
                    <td align="center">
                        <font size="2" face="Verdana">E</font>
                    </td>
                    <td align="center">
                        <font size="2" face="Verdana">F</font>
                    </td>
                    <td align="center">
                        <font size="2" face="Verdana">G</font>
                    </td>
                    <td align="center">
                        <font size="2" face="Verdana">H</font>
                    </td>
                    <td align="center">
                        <font size="2" face="Verdana">I</font>
                    </td>
                    <td align="center">
                        <font size="2" face="Verdana">J</font>
                    </td>
                </tr>
                <tr>
                    <td align="center" bgcolor="#E1E1E1">
                        <font size="2" face="Verdana"><strong>9</strong></font>
                    </td>
                    <td align="center">
                        <font size="2" face="Verdana">K</font>
                    </td>
                    <td align="center">
                        <font size="2" face="Verdana">L</font>
                    </td>
                    <td align="center">
                        <font size="2" face="Verdana">M</font>
                    </td>
                    <td align="center">
                        <font size="2" face="Verdana">N</font>
                    </td>
                    <td align="center">
                        <font size="2" face="Verdana">O</font>
                    </td>
                    <td align="center">
                        <font size="2" face="Verdana">P</font>
                    </td>
                    <td align="center">
                        <font size="2" face="Verdana">Q</font>
                    </td>
                    <td align="center">
                        <font size="2" face="Verdana">R</font>
                    </td>
                    <td align="center">
                        <font size="2" face="Verdana">S</font>
                    </td>
                    <td align="center">
                        <font size="2" face="Verdana">T</font>
                    </td>
                </tr>
                <tr>
                    <td align="center" bgcolor="#E1E1E1">
                        <font size="2" face="Verdana"><strong>8</strong></font>
                    </td>
                    <td align="center">
                        <font size="2" face="Verdana">U</font>
                    </td>
                    <td align="center">
                        <font size="2" face="Verdana">V</font>
                    </td>
                    <td align="center">
                        <font size="2" face="Verdana">W</font>
                    </td>
                    <td align="center">
                        <font size="2" face="Verdana">X</font>
                    </td>
                    <td align="center">
                        <font size="2" face="Verdana">Y</font>
                    </td>
                    <td align="center">
                        <font size="2" face="Verdana">Z</font>
                    </td>
                    <td align="center">
                        <font size="2" face="Verdana">0</font>
                    </td>
                    <td align="center">
                        <font size="2" face="Verdana">1</font>
                    </td>
                    <td align="center">
                        <font size="2" face="Verdana">2</font>
                    </td>
                    <td align="center">
                        <font size="2" face="Verdana">3</font>
                    </td>
                </tr>
                <tr>
                    <td align="center" bgcolor="#E1E1E1">
                        <font size="2" face="Verdana"><strong>4</strong></font>
                    </td>
                    <td align="center">
                        <font size="2" face="Verdana">4</font>
                    </td>
                    <td align="center">
                        <font size="2" face="Verdana">5</font>
                    </td>
                    <td align="center">
                        <font size="2" face="Verdana">6</font>
                    </td>
                    <td align="center">
                        <font size="2" face="Verdana">7</font>
                    </td>
                    <td align="center">
                        <font size="2" face="Verdana">8</font>
                    </td>
                    <td align="center">
                        <font size="2" face="Verdana">9</font>
                    </td>
                    <td align="center">&nbsp;</td>
                    <td align="center">&nbsp;</td>
                    <td align="center">&nbsp;</td>
                    <td align="center">&nbsp;</td>
                </tr>
            </tbody>
        </table>
    </center>
</div>

<p align="center">
    <font color="#000000" size="2" face="Verdana"><em><strong>Exemplos:
</strong></em><strong>C </strong>= 13; <strong>R</strong> = 98; <strong>V</strong> = 82; <strong>ALERTA</strong> = 119215989011</font>
</p>