<blockquote>
    <p>
        <font color="#000000" size="2" face="Verdana"><strong>FRASE-CHAVE-VERTICAL</strong></font>
    </p>
    <p align="left">
        <font size="2" face="Verdana">Para este código é preciso uma tabela com 2 linhas e 13 colunas, de modo a caberem as 26 letras do alfabeto.</font>
    </p>
    <p align="left">
        <font size="2" face="Verdana">Vamos imaginar que a frase chave é «<strong>sempre alerta</strong>». Começamos por escrever as letras da frase, seguidas,
            <em><strong>mas
    sem repetir nenhuma!!! </strong></em>Ficamos com a palavra «<strong>SEMPRALT</strong>».
        </font>
    </p>
    <div align="center">
        <center>
            <table border="1" cellpadding="3" cellspacing="0" width="70%" bordercolor="#C0C0C0">
                <tr>
                    <td align="center" width="7%">
                        <font size="2" face="Verdana">S</font>
                    </td>
                    <td align="center" width="7%">
                        <font size="2" face="Verdana">E</font>
                    </td>
                    <td align="center" width="7%">
                        <font size="2" face="Verdana">M</font>
                    </td>
                    <td align="center" width="7%">
                        <font size="2" face="Verdana">P</font>
                    </td>
                    <td align="center" width="8%">
                        <font size="2" face="Verdana">R</font>
                    </td>
                    <td align="center" width="8%">
                        <font size="2" face="Verdana">A</font>
                    </td>
                    <td align="center" width="8%">
                        <font size="2" face="Verdana">L</font>
                    </td>
                    <td align="center" width="8%">
                        <font size="2" face="Verdana">T</font>
                    </td>
                    <td align="center" width="8%">&nbsp;</td>
                    <td align="center" width="8%">&nbsp;</td>
                    <td align="center" width="8%">&nbsp;</td>
                    <td align="center" width="8%">&nbsp;</td>
                    <td align="center" width="8%">&nbsp;</td>
                </tr>
                <tr>
                    <td align="center" width="7%">&nbsp;</td>
                    <td align="center" width="7%">&nbsp;</td>
                    <td align="center" width="7%">&nbsp;</td>
                    <td align="center" width="7%">&nbsp;</td>
                    <td align="center" width="8%">&nbsp;</td>
                    <td align="center" width="8%">&nbsp;</td>
                    <td align="center" width="8%">&nbsp;</td>
                    <td align="center" width="8%">&nbsp;</td>
                    <td align="center" width="8%">&nbsp;</td>
                    <td align="center" width="8%">&nbsp;</td>
                    <td align="center" width="8%">&nbsp;</td>
                    <td align="center" width="8%">&nbsp;</td>
                    <td align="center" width="8%">&nbsp;</td>
                </tr>
            </table>
        </center>
    </div>
    <p align="left">
        <font size="2" face="Verdana">A seguir juntamos outras letras do alfabeto, por ordem alfabética (desde o inicio do alfabeto), sem ficarem letras
            repetidas, e até perfazerem um total de 13 letras (primeira linha completa). Ficamos assim com «<strong>SEMPRALTBCDFG</strong>».
        </font>
    </p>
    <div align="center">
        <center>
            <table border="1" cellpadding="3" cellspacing="0" width="70%" bordercolor="#C0C0C0">
                <tr>
                    <td align="center" width="7%">
                        <font size="2" face="Verdana">S</font>
                    </td>
                    <td align="center" width="7%">
                        <font size="2" face="Verdana">E</font>
                    </td>
                    <td align="center" width="7%">
                        <font size="2" face="Verdana">M</font>
                    </td>
                    <td align="center" width="7%">
                        <font size="2" face="Verdana">P</font>
                    </td>
                    <td align="center" width="8%">
                        <font size="2" face="Verdana">R</font>
                    </td>
                    <td align="center" width="8%">
                        <font size="2" face="Verdana">A</font>
                    </td>
                    <td align="center" width="8%">
                        <font size="2" face="Verdana">L</font>
                    </td>
                    <td align="center" width="8%">
                        <font size="2" face="Verdana">T</font>
                    </td>
                    <td align="center" width="8%">
                        <font size="2" face="Verdana">B</font>
                    </td>
                    <td align="center" width="8%">
                        <font size="2" face="Verdana">C</font>
                    </td>
                    <td align="center" width="8%">
                        <font size="2" face="Verdana">D</font>
                    </td>
                    <td align="center" width="8%">
                        <font size="2" face="Verdana">F</font>
                    </td>
                    <td align="center" width="8%">
                        <font size="2" face="Verdana">G</font>
                    </td>
                </tr>
                <tr>
                    <td align="center" width="7%">&nbsp;</td>
                    <td align="center" width="7%">&nbsp;</td>
                    <td align="center" width="7%">&nbsp;</td>
                    <td align="center" width="7%">&nbsp;</td>
                    <td align="center" width="8%">&nbsp;</td>
                    <td align="center" width="8%">&nbsp;</td>
                    <td align="center" width="8%">&nbsp;</td>
                    <td align="center" width="8%">&nbsp;</td>
                    <td align="center" width="8%">&nbsp;</td>
                    <td align="center" width="8%">&nbsp;</td>
                    <td align="center" width="8%">&nbsp;</td>
                    <td align="center" width="8%">&nbsp;</td>
                    <td align="center" width="8%">&nbsp;</td>
                </tr>
            </table>
        </center>
    </div>
    <p align="left">
        <font size="2" face="Verdana">De seguida preenchemos a linha por baixo com as restantes letras do alfabeto, respeitando as mesmas regras. No final
            ficamos com a tabela de codificação completa:</font>
    </p>
    <div align="center">
        <center>
            <table border="1" cellpadding="3" cellspacing="0" width="70%" bordercolor="#C0C0C0">
                <tr>
                    <td align="center" width="7%">
                        <font size="2" face="Verdana"><strong>S</strong></font>
                    </td>
                    <td align="center" width="7%">
                        <font size="2" face="Verdana"><strong>E</strong></font>
                    </td>
                    <td align="center" width="7%">
                        <font size="2" face="Verdana"><strong>M</strong></font>
                    </td>
                    <td align="center" width="7%">
                        <font size="2" face="Verdana"><strong>P</strong></font>
                    </td>
                    <td align="center" width="8%">
                        <font size="2" face="Verdana"><strong>R</strong></font>
                    </td>
                    <td align="center" width="8%">
                        <font size="2" face="Verdana"><strong>A</strong></font>
                    </td>
                    <td align="center" width="8%">
                        <font size="2" face="Verdana"><strong>L</strong></font>
                    </td>
                    <td align="center" width="8%">
                        <font size="2" face="Verdana"><strong>T</strong></font>
                    </td>
                    <td align="center" width="8%">
                        <font size="2" face="Verdana"><strong>B</strong></font>
                    </td>
                    <td align="center" width="8%">
                        <font size="2" face="Verdana"><strong>C</strong></font>
                    </td>
                    <td align="center" width="8%">
                        <font size="2" face="Verdana"><strong>D</strong></font>
                    </td>
                    <td align="center" width="8%">
                        <font size="2" face="Verdana"><strong>F</strong></font>
                    </td>
                    <td align="center" width="8%">
                        <font size="2" face="Verdana"><strong>G</strong></font>
                    </td>
                </tr>
                <tr>
                    <td align="center" width="7%">
                        <font size="2" face="Verdana"><strong>H</strong></font>
                    </td>
                    <td align="center" width="7%">
                        <font size="2" face="Verdana"><strong>I</strong></font>
                    </td>
                    <td align="center" width="7%">
                        <font size="2" face="Verdana"><strong>J</strong></font>
                    </td>
                    <td align="center" width="7%">
                        <font size="2" face="Verdana"><strong>K</strong></font>
                    </td>
                    <td align="center" width="8%">
                        <font size="2" face="Verdana"><strong>N</strong></font>
                    </td>
                    <td align="center" width="8%">
                        <font size="2" face="Verdana"><strong>O</strong></font>
                    </td>
                    <td align="center" width="8%">
                        <font size="2" face="Verdana"><strong>Q</strong></font>
                    </td>
                    <td align="center" width="8%">
                        <font size="2" face="Verdana"><strong>U</strong></font>
                    </td>
                    <td align="center" width="8%">
                        <font size="2" face="Verdana"><strong>V</strong></font>
                    </td>
                    <td align="center" width="8%">
                        <font size="2" face="Verdana"><strong>W</strong></font>
                    </td>
                    <td align="center" width="8%">
                        <font size="2" face="Verdana"><strong>X</strong></font>
                    </td>
                    <td align="center" width="8%">
                        <font size="2" face="Verdana"><strong>Y</strong></font>
                    </td>
                    <td align="center" width="8%">
                        <font size="2" face="Verdana"><strong>Z</strong></font>
                    </td>
                </tr>
            </table>
        </center>
    </div>
    <p align="left">
        <font size="2" face="Verdana">As letras de cima correspondem às letras de baixo e vice-versa, ou seja: S=H ; E=I ; M=J ; etc...</font>
    </p>
    <p align="center">
        <font size="2" face="Verdana"><strong><u>Exemplo</u></strong><strong>:
    ESCUTA LEAL </strong>= IHWTO QIOQ</font>
    </p>
</blockquote>