<blockquote>
    <p align="center">
        <font size="2" face="Verdana"><strong>ALFABETO
    INVERTIDO</strong></font>
    </p>
    <p align="left">
        <font color="#000000" size="2" face="Verdana">Por baixo do alfabeto nomal, escreve-se o mesmo alfabeto, mas invertido. As letras de baixo são a codificação das
            de cima.
        </font>
    </p>
    <div align="center">
        <center>
            <table border="1" cellpadding="3" cellspacing="0" width="90%" bordercolor="#C0C0C0">
                <tbody>
                    <tr>
                        <td align="center" bgcolor="#E1E1E1">
                            <font size="2" face="Verdana"><strong>A</strong></font>
                        </td>
                        <td align="center" bgcolor="#E1E1E1">
                            <font size="2" face="Verdana"><strong>B</strong></font>
                        </td>
                        <td align="center" bgcolor="#E1E1E1">
                            <font size="2" face="Verdana"><strong>C</strong></font>
                        </td>
                        <td align="center" bgcolor="#E1E1E1">
                            <font size="2" face="Verdana"><strong>D</strong></font>
                        </td>
                        <td align="center" bgcolor="#E1E1E1">
                            <font size="2" face="Verdana"><strong>E</strong></font>
                        </td>
                        <td align="center" bgcolor="#E1E1E1">
                            <font size="2" face="Verdana"><strong>F</strong></font>
                        </td>
                        <td align="center" bgcolor="#E1E1E1">
                            <font size="2" face="Verdana"><strong>G</strong></font>
                        </td>
                        <td align="center" bgcolor="#E1E1E1">
                            <font size="2" face="Verdana"><strong>H</strong></font>
                        </td>
                        <td align="center" bgcolor="#E1E1E1">
                            <font size="2" face="Verdana"><strong>I</strong></font>
                        </td>
                        <td align="center" bgcolor="#E1E1E1">
                            <font size="2" face="Verdana"><strong>J</strong></font>
                        </td>
                        <td align="center" bgcolor="#E1E1E1">
                            <font size="2" face="Verdana"><strong>K</strong></font>
                        </td>
                        <td align="center" bgcolor="#E1E1E1">
                            <font size="2" face="Verdana"><strong>L</strong></font>
                        </td>
                        <td align="center" bgcolor="#E1E1E1">
                            <font size="2" face="Verdana"><strong>M</strong></font>
                        </td>
                        <td align="center" bgcolor="#E1E1E1">
                            <font size="2" face="Verdana"><strong>N</strong></font>
                        </td>
                        <td align="center" bgcolor="#E1E1E1">
                            <font size="2" face="Verdana"><strong>O</strong></font>
                        </td>
                        <td align="center" bgcolor="#E1E1E1">
                            <font size="2" face="Verdana"><strong>P</strong></font>
                        </td>
                        <td align="center" bgcolor="#E1E1E1">
                            <font size="2" face="Verdana"><strong>Q</strong></font>
                        </td>
                        <td align="center" bgcolor="#E1E1E1">
                            <font size="2" face="Verdana"><strong>R</strong></font>
                        </td>
                        <td align="center" bgcolor="#E1E1E1">
                            <font size="2" face="Verdana"><strong>S</strong></font>
                        </td>
                        <td align="center" bgcolor="#E1E1E1">
                            <font size="2" face="Verdana"><strong>T</strong></font>
                        </td>
                        <td align="center" bgcolor="#E1E1E1">
                            <font size="2" face="Verdana"><strong>U</strong></font>
                        </td>
                        <td align="center" bgcolor="#E1E1E1">
                            <font size="2" face="Verdana"><strong>V</strong></font>
                        </td>
                        <td align="center" bgcolor="#E1E1E1">
                            <font size="2" face="Verdana"><strong>W</strong></font>
                        </td>
                        <td align="center" bgcolor="#E1E1E1">
                            <font size="2" face="Verdana"><strong>X</strong></font>
                        </td>
                        <td align="center" bgcolor="#E1E1E1">
                            <font size="2" face="Verdana"><strong>Y</strong></font>
                        </td>
                        <td align="center" bgcolor="#E1E1E1">
                            <font size="2" face="Verdana"><strong>Z</strong></font>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <font size="2" face="Verdana">Z</font>
                        </td>
                        <td align="center">
                            <font size="2" face="Verdana">Y</font>
                        </td>
                        <td align="center">
                            <font size="2" face="Verdana">X</font>
                        </td>
                        <td align="center">
                            <font size="2" face="Verdana">W</font>
                        </td>
                        <td align="center">
                            <font size="2" face="Verdana">V</font>
                        </td>
                        <td align="center">
                            <font size="2" face="Verdana">U</font>
                        </td>
                        <td align="center">
                            <font size="2" face="Verdana">T</font>
                        </td>
                        <td align="center">
                            <font size="2" face="Verdana">S</font>
                        </td>
                        <td align="center">
                            <font size="2" face="Verdana">R</font>
                        </td>
                        <td align="center">
                            <font size="2" face="Verdana">Q</font>
                        </td>
                        <td align="center">
                            <font size="2" face="Verdana">P</font>
                        </td>
                        <td align="center">
                            <font size="2" face="Verdana">O</font>
                        </td>
                        <td align="center">
                            <font size="2" face="Verdana">N</font>
                        </td>
                        <td align="center">
                            <font size="2" face="Verdana">M</font>
                        </td>
                        <td align="center">
                            <font size="2" face="Verdana">L</font>
                        </td>
                        <td align="center">
                            <font size="2" face="Verdana">K</font>
                        </td>
                        <td align="center">
                            <font size="2" face="Verdana">J</font>
                        </td>
                        <td align="center">
                            <font size="2" face="Verdana">I</font>
                        </td>
                        <td align="center">
                            <font size="2" face="Verdana">H</font>
                        </td>
                        <td align="center">
                            <font size="2" face="Verdana">G</font>
                        </td>
                        <td align="center">
                            <font size="2" face="Verdana">F</font>
                        </td>
                        <td align="center">
                            <font size="2" face="Verdana">E</font>
                        </td>
                        <td align="center">
                            <font size="2" face="Verdana">D</font>
                        </td>
                        <td align="center">
                            <font size="2" face="Verdana">C</font>
                        </td>
                        <td align="center">
                            <font size="2" face="Verdana">B</font>
                        </td>
                        <td align="center">
                            <font size="2" face="Verdana">A</font>
                        </td>
                    </tr>
                </tbody>
            </table>
        </center>
    </div>
    <p align="center">
        <font color="#000000" size="2" face="Verdana"><strong><u>Exemplo</u></strong>: <strong>ESCUTEIRO</strong> = VHXFGVRIL</font>
    </p>
</blockquote>