<p>
    <strong>PASSA N MELROS</strong>
</p>

<p>O código «passa-n-melros» consiste em intercalar <strong>N</strong> letras aleatórias entre cada letra da mensagem que queremos codificar:</p>

<p><u>Mensagem</u>: <strong>JANTAR AS FEBRAS</strong></p>
<p>
    <u>Mensagem Codificada</u>: <strong>JIMASUNAETIMASRRAS AMISSU FRIEMIBURRINATOSAS</strong>
</p>
<p>
    <strong>(
J<span style="color:#f00;">IM</span>A<span style="color:#f00;">SU</span>N<span style="color:#f00;">AE</span>T<span style="color:#f00;">IM</span>A<span style="color:#f00;">SR</span>R<span style="color:#f00;">AS</span>
A<span style="color:#f00;">MI</span>S<span style="color:#f00;">SU</span>
F<span style="color:#f00;">RI</span>E<span style="color:#f00;">MI</span>B<span style="color:#f00;">UR</span>R<span style="color:#f00;">IN</span>A<span style="color:#f00;">TO</span>S<span style="color:#f00;">AS</span>
 )</strong>
</p>
