<p>
    <strong>METADES</strong>
</p>
<p>
    As letras da mensagem são dispostas alternadamente numa tabela de duas colunas. Vamos dar o exemplo da seguinte mensagem:
    <strong>CHAMAR O SOCORRISTA</strong>
</p>
<p>
    Construimos a tabela:

</p>


<table border="1" cellpadding="3" cellspacing="0" width="30%" bordercolor="#C0C0C0">
    <tr>
        <th>C</th>
        <th>&nbsp;</th>
        <th>A</th>
        <th>&nbsp;</th>
        <th>A</th>
        <th>&nbsp;</th>
        <th>O</th>
        <th>&nbsp;</th>
        <th>O</th>
        <th>&nbsp;</th>
        <th>O</th>
        <th>&nbsp;</th>
        <th>R</th>
        <th>&nbsp;</th>
        <th>S</th>
        <th>&nbsp;</th>
        <th>A</th>
    </tr>
    <tr>
        <th>&nbsp;</th>
        <th>H</th>
        <th>&nbsp;</th>
        <th>M</th>
        <th>&nbsp;</th>
        <th>R</th>
        <th>&nbsp;</th>
        <th>S</th>
        <th>&nbsp;</th>
        <th>C</th>
        <th>&nbsp;</th>
        <th>R</th>
        <th>&nbsp;</th>
        <th>I</th>
        <th>&nbsp;</th>
        <th>T</th>
        <th>&nbsp;</th>
    </tr>
</table>
<p>Agora escrevemos a mensagem codificada lendo primeiro a primeira linha e depois a segunda linha:</p>
<p><strong><u>Mensagem codificada</u>: CAAOOORSA HMRSCRIT</strong></p>