<p>
    <strong>PRIMEIRA
    LETRA FALSA</strong>
</p>
<p align="left">
    A primeira letra de cada palavra da mensagem codificada é falsa, por isso, para descodificar, basta eliminar as primeiras letras. 
    <!--Para dificultar ainda mais, podem-se cortar as palavras ao meio.-->
</p>
<p>
    <strong><u>Exemplo</u>: AS TENDAS FICAM MONTADAS JUNTO AO RIO</strong>
</p>
<p>
    <strong> 
        <span style="color:#f00">L</span>AS 
        <span style="color:#f00">A</span>TENDAS 
        <span style="color:#f00">A</span>FICAM
        <span style="color:#f00">S</span>MONTADAS 
        <span style="color:#f00">I</span>JUNTO 
        <span style="color:#f00">N</span>AO 
        <span style="color:#f00">B</span>RIO</strong>
</p>
<!--
<p>
    LAS ATEN UDAS AFIC RAM SMON ATADAS AJU ONTO NAOR BIO
</p>
<p>
    <span style="color:#000">(L</span><span style="color:#f00">AS</span>
    <span style="color:#000">A</span><span style="color:#f00">TEN</span>
    <span style="color:#000">U</span><span style="color:#f00">DAS</span>
    <span style="color:#000">A</span><span style="color:#f00">FIC</span>
    <span style="color:#000">R</span><span style="color:#f00">AM</span>
    <span style="color:#000">S</span><span style="color:#f00">MON</span>
    <span style="color:#000">A</span><span style="color:#f00">TADAS</span>
    <span style="color:#000">A</span><span style="color:#f00">JU</span>
    <span style="color:#000">O</span><span style="color:#f00">NTO</span>
    <span style="color:#000">N</span><span style="color:#f00">AOR</span>
    <span style="color:#000">B</span><span style="color:#f00">IO</span>
    <span style="color:#000">)</span>
</p>-->